.login-background {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top right, #fff, #fbeaff, pink);
}

.login-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 30px;
  border: 1px solid #fff;
  box-shadow: 5px 5px 10px 5px #ccc;
}

.login-top {
  position: relative;
  height: 20vh;
  background: pink;
  text-align: center;
  line-height: 10vh;
  font-size: 26px;
  font-weight: bolder;
  font-family: Arial;
  color: white;
}

.login-form {
  flex: 1;
  padding: 50px 30px;
  background: skyblue;
}
