$blogs-header-bg: #fff;

.blogs-header {
  min-height: 64px;
  width: 100%;
  background: $blogs-header-bg;
  box-shadow: rgb(208, 215, 222) 0px -1px 0px 0px inset;
}

.blogs-header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  height: 64px;
}

.right-setting {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  height: 100%;
  margin: 0;
  order: 0;
  list-style: none;
  .search-item {
    margin-right: 2rem;
  }
  .nav-item {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}

.top-nav {
  height: 100%;
  flex: 1 0 auto;
  line-height: normal;
  display: flex;
}

.nav-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-direction: row-reverse;
  height: 100%;
  margin: 0;
}

.menu-list {
  height: 100%;
  display: flex;
  order: 99;
  .ant-menu-item {
    display: flex;
    align-items: center;
  }
  .ant-menu-overflow-item {
    display: flex;
    align-items: center;
  }
}

.item-logo {
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
