$spacing: 16px;

.home-canvas {
  width: 100%;
  height: 600px;
  background-color: #fff;
  margin-bottom: 20px;
}

.home-view {
  display: flex;
  flex-direction: column;
}

.home-header {
  width: 100%;
  height: 600px;
  padding: 8px 8px 0 8px;
  background-color: $bg-virtual;
  margin-bottom: $spacing;
  overflow: hidden;
  .carousel-box {
    position: relative;
  }
  .info-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    .info-box {
      background: #0000004d;
      color: #fff;
      padding: 8px 0;
      padding-left: 5%;
      height: auto;
      display: flex;
      flex-direction: column;
      &:hover .info-title {
        color: blue;
        cursor: pointer;
      }
    }
    .info-title {
      font-size: 26px;
      line-height: 37px;
      font-weight: 600;
      margin-bottom: 6px;
    }
    .info-time {
      margin: 0 4px;
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.home-content {
  display: flex;
  flex-direction: column;
  background-color: $bg-virtual;
  padding: 8px;
}

.article-tag {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  justify-content: space-between;
  margin-bottom: 20px;
}

.home-article-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  gap: 20px;
  .article-item {
    height: 200px;
    margin-bottom: 8px;
    background-color: #fff;
    position: relative;
  }
  .article-info {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  .article-type {
    position: absolute;
    left: 20px;
    top: 20px;
  }
  .article-introduction {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    color: white;
    background-image: linear-gradient(#0000004d, #000000b3);
    border-radius: 0 0 10px 10px;
    padding: 0 10px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: all 0.3s ease-out 0s;
  }
  .article-item:hover .article-image {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease-out 0s;
  }
}

@media screen and (max-width: 1028px) {
  .home-header {
    height: auto;
  }
  .home-article-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
