.layout-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.layout-content-main {
  flex: 1;
  overflow-y: auto;
}

.footer-container {
  text-align: center;
  background: #fff;
  box-shadow: rgb(208, 215, 222) 0px 1px 0px 0px inset;
}
